body {
    font-family: Arial, sans-serif;
   background-color: plum;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 80px;
    background: white;
    color: black;
    padding: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 20px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #1e3c72;
}

input {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}